p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Architects Daughter', cursive;
}

/* slideshow */
.mySlides {display: none;}

/* full-screen images*/
body, html {
    height: 100%;
  }
  
  .fs-img-1 {
    /* The image used */
    background-image: url("../img/budding.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fs-img-2 {
    /* The image used */
    background-image: url("../img/risk.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* full screen video*/

  .fs-video {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}



audio {
    display: block;
    width: 230px;
    height: 35px;
}

figcaption {
    font-size: 8px;
}